
.navbar-nav .nav-link:not(.active) {
        opacity: 0.5; 
      }


.navbar-collapse {
    flex-grow: 0;
}
.contenedoriconos {
  display: flex;
  justify-content: space-around;
  margin-left: 0px;
}

.cajaiconos {
  text-align: center;
}

.information {
  text-align: center;
  background-color: #1e1a13 ;
  padding: 40px;
}

body {
  margin: 0px;
  color: white;
}

header{
background-image: url(../img/foto.jpg);
background-repeat: no-repeat;
background-size: cover;
margin-top: 0px;
}



.listaDatos{
  margin: 0px;
}

.datos{
  background-color: white;
  margin-inline-start: 600px;
}

